<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <title>Family Social Events Planner</title>
  {{!--
  <link rel="stylesheet" href="/css/jass.css"> --}}
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<<<<<<< HEAD
  {{!--
  <link rel="stylesheet" href="/css/style.css"> --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/assets/css/map.css" />
=======

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/assets/css/map.css" />
>>>>>>> e053682f6bfec24896ab2b7a5d92b5a373e33157
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-left p-2">
      <style>
        .navbar-fixed {
          margin-bottom: 200px;
        }

        .nav-wrapper {
          padding-left: 10px;
          padding-right: 10px;
        }

        .card-create-account {
          display: none;
        }

        html {
          font-family: GillSans, Calibri, Trebuchet, sans-serif;
        }
      </style>
      <div class="navbar-fixed">
        <ul id="dropdown1" class="dropdown-content">
          <li><a href="#!">example</a></li>
          <li><a href="#!">two</a></li>
          <li class="divider"></li>
          <li><a href="#!">three</a></li>
        </ul>
        <nav>
          <div class="nav-wrapper red">
            <a href="#" class="brand-logo center">🎊Family Fiesta🎊</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="/">Home</a></li>
              <!-- Conditionally render login or logout links -->
              {{#if logged_in}}
              <li><a href="/profile">Dashboard</a></li>
              <li><a href="/" id="logout">Log-out</a></li>
              {{else}}
              <li><a href="/login">Login</a></li>
              {{/if}}
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>

    </footer>
  </div>

  <!-- <script src="/family-event-planner/assets/js/main.js"></script> -->
  <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
  
  
  <!-- Render script for logged in users only -->
<<<<<<< HEAD
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  {{!--
  <script src="/js/main.js"></script> --}}
=======

<script src="/js/main.js"></script>
{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> --}}
>>>>>>> e053682f6bfec24896ab2b7a5d92b5a373e33157
</body>

</html>