<div class="container">
    <div class="row">
      <div class="col s12 m6 offset-m3">
        <div class="card">
          <div class="card-content">
            <!-- <span class="card-title">Login</span> -->
            <form id="login-form">
              <span class="card-title">Login</span>
              <div class="input-field">
                <input id="email-login" type="email" class="validate">
                <label for="email">Email</label>
              </div>
              <div class="input-field">
                <input id="password-login" type="password" class="validate">
                <label for="password">Password</label>
              </div>
              <div class="row">
                <div class="col s12 m6">
                  <button class="btn waves-effect waves-light red" type="submit">Login</button>
                </div>
                <div class="col s12 m6">
                  <a class="waves-effect waves-light red btn" id="create-account-btn" href="#">Create Account</a>
                </div>
              </div>
            </form>

            <form id="create-account-form" class="card-create-account">
              <span class="card-title">Create an Account</span>
              <div class="input-field">
                <input id="fname-signup" type="text" class="validate">
                <label for="fname-signup">First Name</label>
              </div>
              <div class="input-field">
                <input id="lname-signup" type="text" class="validate">
                <label for="lname-signup">Last Name</label>
              </div>
              <div class="input-field">
                <input id="name-signup" type="text" class="validate">
                <label for="name-signup">Username</label>
              </div>
              <div class="input-field">
                <input id="email-signup" type="email" class="validate">
                <label for="email-signup">Email</label>
              </div>
              <div class="input-field">
                <input id="password-signup" type="password" class="validate">
                <label for="password-signup">Password</label>
              </div>
              <div class="row">
                <div class="col s12 m6">
                  <button class="btn waves-effect waves-light red" type="submit">Create Account</button>
                </div>
                <div class="col s12 m6">
                  <a class="waves-effect waves-light red btn" id="cancel-btn" href="#">Cancel</a>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/public/assets/js/login.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var createAccountForm = document.getElementById('create-account-form');
      var createAccountBtn = document.getElementById('create-account-btn');
      var cancelBtn = document.getElementById('cancel-btn');

      createAccountBtn.addEventListener('click', function (event) {
        event.preventDefault();
        createAccountForm.style.display = 'block';
        document.getElementById('login-form').style.display = 'none';
      });

      cancelBtn.addEventListener('click', function (event) {
        event.preventDefault();
        createAccountForm.style.display = 'none';
        document.getElementById('login-form').style.display = 'block';
      });
    });
  </script>