
    <div id="map"></div>
    <div class="formSection">
    <form id="form">
        <input type="text" name="start" class="input" id="start" placeholder="choose starting point">
        <input type="text" name="end" class="input" id="destination" placeholder="choose destination">
        <button type="submit" id="directions">Get Directions</button>
    </form>
    </div>
  
