<div class="row">
        <div class="col s12 cards-container"> 
            <div class="card white">
                <h2 class="card-title center-align red-text">Basic Information</h2>
                    <div class="card-content black-text">
                <ul>
                    <li><b>User Name:</b> {{user.user_name}} </li>
                    <li><b>Email:</b> {{user.email}} </li>
                    <li><b>First Name:</b> {{user.first_name}} </li>
                    <li><b>Last Name:</b> {{user.last_name}}</b> </li>
                </ul>
                </div>
               </div>
               <div class="card white">
                <h2 class="card-title center-align red-text"> Allergies</h2>
                <div class="card-content black-text">
                    <ul>
                        <li><b>Allergy:</b> {{}} </li>
                        <li><b>Allergy:</b> {{}} </li>

                    </ul>
                </div>
                <a class="waves-effect red accent-3 waves-light btn-small">Edit Allergies</a>
               </div>
        </div>
    </div> 